/** Desarrollado por Beto@2gom.com.mx y alfredo@2gom.com.mx**/

body, html{
	width:100%;
	height:100%;
	overflow:hidden;
	position: relative;
}

#seccion1{
	position: absolute;
	height: 100%;
	width: 100%;	
	z-index: 13;
}

.superButton{
	position: absolute;
	width:100%;
	height:100%;
	z-index:12;
	top: 0;
	left: 0;
}

.hand {
	position: absolute;
	top: 600px;
	left:100px;
	height: 227px;
	width: 127px;
	z-index: 999;
}
.hand img {
	width: 50%;
}


/** ----------------------------------

	background-size, babackground-attachement hack 
	Estas dos declaraciones de Css permiten que el fondo este fijo y escalado al centro del viewport 

**/
#bg {
 position: fixed; 
 top: 0px; 
   left: 0px; 
   width: 768px; 
   height: 1024px;
   

    background:url(../imgs/portada/portada.jpg) repeat 0 0;  
}
#bg img {
 position: absolute; 
 top: 0; 
 left: 0; 
 right: 0; 
 bottom: 0; 
 margin: auto; 
 width: 50%;
 height: 50%;
 display:none;
}

/** End of background hack **/ 

#letras{
	position: relative;
	width:100%;
	padding-top: 0px;
	height: auto;
	overflow:hidden;
	margin: 0 auto;
	z-index: 10;
}

#letras img{
	float: left;
}

.LogoP {
	width:26%;
}
.LogoM {
	width: 38%;
margin-left: -4%;
}
.LogoG {
	width: 26%;
margin-left: -3%;
}
.LogoC {
	width: 19%;
margin-left: -3%;
}


/*
	SUBMARINO
*/


#submarino {
	position: absolute;
	width: 69%;
	right: -8%;
	top: 35%;
	z-index: 11;
}


/*
Olas 
*/

#waveContainer{
	position: absolute;
	width: 100%;
}

.waves{
	position: relative;
	margin-left: -4%;
	width: 108%;
	height: 80%
	z-index: 9;
	
}

.contenedorOla1{
	width: 110%;
}
.contenedorOla2{
	width: 110%;
}

.ola1{
	width: 100%;
}
.ola2{
	width: 100%;
}

.ola3{
	width: 100%;
}
.ola4{
	width: 100%;
}


/*
Letrero
*/

.title {
	height: 100px;
	width: 70vw;
	position: absolute;
	bottom: 50px;
	left: 50px;
	color: white;
	z-index: 999
}
.title h1{
	font-family: 'petrobras_sansbold_italic';
	font-size: 2.5em;
	text-align: left;
}
.title h2{
	font-family: 'petrobras_sansbold_italic';
	font-size:1.3em;
	text-indent: 10px;
}
.name {
	height: 100px;
	width: 300px;
	position: absolute;
	top: 21%;
	left: 12%;
	color: #231f20;
}
.name h4{
	font-family: 'petrobras_sanslight';
	font-size:1em;
	text-transform: uppercase;
	margin-top: 20px;
	z-index: 998;
}
.name h5{
	font-family: 'petrobras_sansbold';
	font-size:1.2em;
	margin-top: 5px;
}


.issue {
	background-color: red;
	height: 126px;
	width: 149px;
	position: absolute;
	right: 10px;
	bottom: 60px;
	background: url('../imgs/portada/edition_number.png') no-repeat;
	}