/*
Ver fotos en Color Box 
*/
div.verFotosLentes,div.galleryBtn{
	background-color: #F27321;
	color: #fff;
	padding: 15px 30px;
	z-index: 9999997;
}

div.verFotosLentes{
	left: 0px;
	top: 7000px;
	position: absolute;
}

div.verFotosLentes a, div.galleryBtn a{
	color: #fff;
	font-size: 1.4em;
	text-decoration: none;
	text-shadow: none;
	z-index: 9999998;
}
div.verFotosLentes a:hover, div.galleryBtn a:hover{
	color: #fff;
	z-index: 9999999;	
}
