.accentColorInside{
	background-color: #F8C73F;
	color: #00814C;
}

.title {
	position: relative;
	background-color: transparent;
	height: 1024px;
	width: 100%;
	background: url('../imgs/fondo-portada.jpg') no-repeat;
	background-position: -0px 0px;
	background-size: 100% auto;
}
.title h1 {
	color:#005b94;
	font-family: 'petrobras_sanslight';
	position: absolute;
	font-size: 4.0em;
	top: 29%;
	left:10%; 
	width: 60%;
	text-shadow: 0px 1px 0px #000;

}
.Big {
	font-family: 'petrobras_sansbold';
	letter-spacing: 1px;
	font-size: 1em;
}
.lineasSubHead p{
	font-family: 'petrobras_sansitalic';
	text-shadow:none;
	font-size: 1.15em;
	color: #fff;
	padding: 1px 20px 1px 50px;
	background-color: #00b3b0;
	margin-top: 4px;
	width: auto;
	float:left;
	clear:both;
}
h3 {
	font-family: 'petrobras_sansbold';
	color: #005b94;
	font-size: 2.5em;
	text-align: left;
}
.italics{
	font-family: 'petrobras_sansitalic' !important;
}

.infografia-1{
	width: 100%;
	height: 500px;
	background-color:white;
	z-index: 9999;
	clear: both;
}

.info-1-Animation{
	display: none;
	position: relative;
	top: 30px;
	left: 110px;

}

/*Info 1 elements Positioning */
.info-1-toggle{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -93px;
	z-index: 2;
}
.fondoBtnInfo-1{
	position: absolute;
	top: 5%;
	left: 17%;
	z-index: 1;
}

.aparece-1{
	position: absolute;
	top: 5%;
	left: 0%;
	z-index: 1;
}
.aparece-2{
	position: absolute;
	top: 350px;
	left: 10%;
	z-index: 2;
}
.aparece-3{
	position: absolute;
	top: 390px;
	left: 22%;
	width: 10%;
	z-index: 3;
}
.aparece-4{
	position: absolute;
	top: 345px;
	left: 22%;
	width: 10%;
	z-index: 4;
}
.aparece-5{
position: absolute;
top: 310px;
left: 33%;
width: 4%;
z-index: 5;
}
.aparece-6{
position: absolute;
top: 330px;
left: 39%;
width: 15%;
z-index: 6;
}
.aparece-7{
position: absolute;
top: 230px;
left: 38%;
width: 4%;
z-index: 7;
}
.aparece-8{
position: absolute;
top: 180px;
left: 39.5%;
z-index: 8;
}
.aparece-9{
position: absolute;
top: 200px;
left: 48%;
width: 15%;
z-index: 9;
}
.aparece-10{
position: absolute;
top: 125px;
left: 45%;
z-index: 10;
}
.aparece-11{
position: absolute;
top: 90px;
left: 19%;
width: 24%;
z-index: 12;
}
.aparece-12{
position: absolute;
top: 100px;
left: 10%;
z-index: 11;
}
.aparece-13{
position: absolute;
top: 40px;
left: 30%;
width: 10%;
z-index: 13;
}





.infografia-2{
	width: 100%;
}

.arrows{
	width: 50%;
}

.next {
    float: right;
    z-index: 10;
}
.prev{
    float: left;
    z-index: 11;
}
a.navArrow.prev::before{
    content: "";
    display: block;
    background: transparent url('../images/prevBtn.png') no-repeat;
    width: 60px;
    height: 60px;
    overflow: hidden;
}
a.navArrow.next::before{
    content: "";
    display: block;
    background: transparent url('../images/nextBtn.png') no-repeat;
    width: 60px;
    height: 60px;
    overflow: hidden;
}

.tab {
    display: none;
    text-align: center;
}
.tabIMG {
    margin: 50px 0 80px 0;
    transition: display  0.2s ease-in-out, 
}
.visible {
    display: block;
}




/* ------------------------------------------- positions*/

.title {
	position: absolute;
	top: 0px;
	left: 0px;
}
.lineasSubHead {
	position: absolute;
	top:700px;
}


/* |********|
   |Pictures|
   |********| */

.first-picture{
	position: absolute;
	right: 0;
	top: 1750px;
	width: 98%
}
.second-picture{
	position: absolute;
	right: 0;
	top: 3100px;
	width: 98%;
}
.third-picture{
	position: absolute;
	left: 0;
	top: 4850px;
	width: 98%;
}
.fourth-picture{
	position: absolute;
	left: 0;
	top: 4400px;
	width: 100%;
}
.fifth-picture{
	position: absolute;
	right: 0;
	top: 6600px;
}
.sixth-picture{
	position: absolute;
	left: 0;
	top: 8000px;
}
.seventh-picture{
	position: absolute;
	right: 0;
	top: 10500px;
}

/* |******|
   |Videos|
   |******| */

.video-1{
	position: absolute;
	top: 15000px;
	left: 50%;
	margin-left: -280px;
}
.video-2{
	position: absolute;
	top: 15350px;
	left: 50%;
	margin-left: -280px;
}


/* |********|
   | Plecas |
   |********| */

.first-pleca{
	position: absolute;
	left: 0;
	top: 8350px;
}
.second-pleca{
	position: absolute;
	left: 0;
	top: 11050px;
}


/* |********|
   |Captions|
   |********| */

.fotoCaption p{
	background:none !important;
}
.foto1-Caption{
 position: absolute;
    right: 39px;
    top: 2640px;
    width: 57%;
	
}

.foto5-Caption{
	position: absolute;
	top: 8010px;
	left: 0px;
	width: 90%;
}
.foto6-Caption{
 left: 0;
    position: absolute;
    top: 9809px;
    width: 95%;
}
.foto7-Caption{
	visibility: hidden;
	position: absolute;
	top: 8500px;
	left: 0px;
}

/* |************|
   |Infographics|
   |************| */

.infografia-1{
	position: absolute;
	top: 7650px;
	left: 0;

}
.info-1-Header{
	position: absolute;
	top: 7370px;
	left: 15px;
	width: 90%;
}
.info-1-Footer{
	position: absolute;
	top: 8180px;
	left: 15px;
	width: 90%;
}

.infografia-2{
	position: absolute;
	top: 10700px;
	left: 0px;
}

.arrows{
	position: absolute;
	top: 12080px;
	left:50%;
	margin-left: -25%;
}
.info2Content{
	position: absolute;
	top: 10100px;
	left: 30px;
}
.info2Content img.brazil{
	position: absolute;
	width: 90%;
	top: 110px;
	left: 10px;
}
.info2Content img.info2Head{
	position: relative;
	width: 90%;
	left: 10px;
}


/********
TxtCols
*********/
.first-Txt{
	position: absolute;
	top: 1100px;
}
.second-Txt{
	position: absolute;
	top: 1750px;
}
.third-Txt{
	position: absolute;
	top: 3200px;
}
.fourth-Txt{
	position: absolute;
	top: 3950px;
}

.fourth-Txt-coral {
position: absolute;
    right: 77px;
    top: 4300px;}

.r100-Txt {
	position: absolute;
    right: 77px;
      top: 14350px;
	z-index:200;
	}

.fifth-Txt{
	position: absolute;
	top: 9900px;
}
.sixth-Txt{
	position: absolute;
	top: 13100px;
}




.toTop{
	position: absolute;
	top:15900px;
	left: 50%;
	margin-left: -100px;
}
.footer{
	position: absolute;
	top: 10400px;
	left: 0px;
}


.tit_videos_seas {
font-size: 22px;
    left: 50%;
    margin-left: -25%;
    position: absolute;
    top: 14920px;}
	
.fotoCaption p{
	background-color:#FFF;
	padding:5px 10px;}