body{
	background-color: #f9f9f9;
}

.section {
	background-color: white;
	text-shadow:none;
	padding: 20px;
	width: 100%;
	margin: 0 auto;
	margin-top: 0px;
}
h1 {
	font-family: 'petrobras_sansbold';
	color:#00814A;
	margin-top: 40px;
	width: 500px;
	font-size: 1.3em;
	text-indent: 10px;
}
.black {
	font-family: 'petrobras_sansbold';
	font-size: .8em;
}

p {
	font-family: 'petrobras_sanslight';
	font-size: .8em;
}

.disclaimer{
	font-size: .9em;
	margin-top: 60px;
}

.logos {
	width: 80%;
	margin: 0 auto;
	margin-top: 20px;
}
img{
	width: 100%;
}



