body{
	background-color: #f9f9f9;
}

.section {
	background-color: white;
	text-shadow:none;
	padding: 20px;
	width: 80%;
	margin: 0 auto;
	margin-top: 170px;
}
h1 {
	font-family: 'petrobras_sansregular';
	color:#00814A;
	margin-bottom: 40px;
	width: 500px;
	font-size: 1.3em;
}
.big {
	font-family: 'petrobras_sansbold';
}
h6 {
	margin-top: 30px;
	font-family: 'petrobras_sansbold';
}
p {
	padding-top: 10px;
	font-family: 'petrobras_sanslight';
	vertical-align: bottom;
	font-size: .9em;
}

.pleca{
	position: absolute;
	top: 0px;
	right: 0px;
}

.logoPB {
	margin-left: -130px;
    position: absolute;}