.title {
	position: relative;
	background-color: transparent;
	height: 1024px;
	width: 100%;
	background: url('../imgs/foto-portada.jpg') no-repeat;
	background-position: -0px 0px;
	background-size: 100% auto;
}
.title h1 {
	color:#FFF;
	font-family: 'petrobras_sanslight';
	position: absolute;
	font-size: 4em;
	top: 29%;
	left:10%; 
	width: 60%;
	text-shadow: 0px 1px 0px #000;
	text-transform: uppercase;
}
.Big {
	font-family: 'petrobras_sansbold';
	letter-spacing: 1px;
	font-size: 1em;
}

.lineasSubHead p{
	font-family: 'petrobras_sansitalic';
	text-shadow:none;
	font-size: 1em;
	color: white;
	padding: 1px 20px 1px 50px;
	background-color: #ed6b06;
	margin-top: 4px;
	width: auto;
	float:left;
	clear:both;
}




/* ------------------------------------------- positions*/

.title {
	position: absolute;
	top: 0px;
	left: 0px;
}
.lineasSubHead {
	position: absolute;
	top:700px;
}

/* |********|
   | Plecas |
   |********| */

.first-pleca{
	position: absolute;
	left: 0;
	top: 1450px;
}
.second-pleca{
	position: absolute;
	right: 0;
	top: 2900px;
}


/* |********|
   |Pictures|
   |********| */

.sixth-picture{
	position: absolute;
	left: 0;
	top: 3100px;
}


/* |********|
   |Captions|
   |********| */


.foto6-Caption{
	position: absolute;
	top: 4010px;
	left: 10px;
}

/********
TxtCols
*********/
.first-Txt{
	position: absolute;
	top: 1200px;
}
.second-Txt{
	position: absolute;
	top: 2150px;
}
.third-Txt{
	position: absolute;
	top: 4600px;
}
.fourth-Txt{
	position: absolute;
	top: 5700px;
}


/* |********|
   | Videos |
   |********| */
.video-1{
	position: absolute;
	top: 6850px;
}

.video-2{
	position: absolute;
	top: 6500px;
}

.titsvideos{
 font-size: 26px;
    left: 4%;
    position: absolute;
    top: 6333px;
	font-weight:bold;
}



.galleryBtn {
	background-color:#FFF !important;
	position: absolute;
	top: 2550px;
	left: 0px;
	width: 100%;
	
	padding:0px !important;
	margin:0px !important;
}

.contentVideo{
	width: 100%;
}

.video{
	margin-bottom: 50px;
}

.videoContainer{
	position: absolute;
	width: 100%;
	text-align: center;
	height: 200px;
	background-color: transparent;
	top:6550px;
}



.toTop{
	position: absolute;
	top:7250px;
	left: 50%;
	margin-left: -100px;
}
.footer{
	position: absolute;
	top: 4970px;
	left: 0px;
}