.accentColorInside{
	background-color: #F8C73F;
	color: #00814C;
}

.title {
	position: relative;
	background-color: red;
	height: 1024px;
	width: 100%;
	background: url('../imgs/dialoguesTitleBack.jpg') no-repeat;
	background-position: -0px 0px;
	background-size: 100% auto;
}
.title h1 {
	color:rgba(64,53,48,1);
	font-family: 'petrobras_sanslight';
	position: absolute;
	font-size: 3.6em;
	top: 25%;
	left:10%; 
	width: 60%;
	text-shadow: 0px 1px 0px #000;
	text-transform: uppercase;
}
.Big {
	font-family: 'petrobras_sansbold';
	letter-spacing: 1px;
	font-size: 1em;
}
.lineasSubHead p{
	font-family: 'petrobras_sansitalic';
	text-shadow:none;
	font-size: 1em;
	color: black;
	padding: 1px 20px 1px 50px;
	background-color: #FFCE38;
	margin-top: 4px;
	width: auto;
}
h3 {
	font-family: 'petrobras_sansbold';
	color: #00814A;
	font-size: 2.5em;
	text-align: left;
}

.first-QuestionBox {
	width: 30%;
	height: auto;
	font-family: 'petrobras_sansbold';
	font-size: .7em;
	line-height: 1.2;
	padding: 0 20px 20px 20px;
	color: white;
}
.question{
	font-family: "petrobras_sanslight";
	font-size: 2.1em;
	text-shadow: none;
	text-align: left;
	padding-top: 30px;
}
.underBox {
	width: 80px;
	height: 10px;
	background-color: #F8C73F ;
}
.nombrePregunta{
	font-family: 'petrobras_sansbold_italic';
	color: #00814C;
}
.nombre{
	color: #00814C;
	font-family: 'petrobras_sansbold';
}
.second-QuestionBox {
	width: 30%;
	height: auto;
	font-family: 'petrobras_sansbold';
	font-size: .7em;
	line-height: 1.2;
	padding: 0 20px 20px 20px;
	color: white;
}

.third-QuestionBox {
	width: 30%;
	height: auto;
	font-family: 'petrobras_sansbold';
	font-size: .7em;
	line-height: 1.2;
	padding: 0 20px 20px 20px;
	color: white;
}

.fourthFreireTxt {
	width: 30%;
	height: auto;
	font-family: 'petrobras_sansbold';
	text-align: right;
	font-size: .7em;
	line-height: 1.2;
	padding: 0 20px 20px 20px;
	color: white;
}



.marquee h3{font-size: 1.8em;}
.marquee{
	height: auto;
	width: 90%;
	padding: 20px;
	text-shadow: none;
	border: 2px solid #F8C73F;
	background-color: white;
}




/* ------------------------------------------- positions*/

.title {
	position: absolute;
	top: 0px;
	left: 0px;
}
.lineasSubHead {
	position: absolute;
	top:700px;
}

.intro-Article{
	position: absolute;
	top: 1300px;
}

.first-picture{
	position: absolute;
	right: 0;
	top: 1300px;
	width: 100%;
}
.second-picture{
	position: absolute;
	right: 0;
	top: 3450px;
	width: 100%;
}
.third-picture{
	position: absolute;
	right: 0;
	top: 7630px;
	width: 100%;
}
.fourth-picture{
	position: absolute;
	right: 0;
	top: 8140px;
	width: 100%;
}
.first-pleca{
	position: absolute;
	left: 0;
	top: 2900px;
}
.second-pleca{
	position: absolute;
	right: 0;
	top: 5200px;
}
.third-pleca{
	position: absolute;
	left: 0;
	top: 8520px;
}
.fourth-pleca{
	position: absolute;
	right: 0;
	top: 9850px;
}

.learnMore {
	position: absolute;
	top:10350px;
	left: 35%;
}

.first-speaker-picture{
	position: absolute;
	left: 0;
	top:5340px;
	width: 100%;
}

.first-speaker-pleca{
	position: absolute;
	left: 0;
	top:5600px;
}

.second-speaker-picture{
	position: absolute;
	right: 0;
	top:5800px;
	width: 100%;
}
.second-speaker-pleca{
	position: absolute;
	right: 0;
	top:7100px;
}

/********
Questions
*********/

.first-QuestionBox {
	position: absolute;
	left: 5%;
	top: 1700px;
}

.first-AnswerBox{
	position: absolute;
	top: 1900px;
}

.second-QuestionBox {
	position: absolute;
	right: 5%;
	top: 3650px;
}
.second-AnswerBox{
	position: absolute;
	top: 4250px;
}


.third-QuestionBox {
	position: absolute;
	left: 5%;
	top: 6800px;
}

.third-AnswerBox{
	position: absolute;
	top: 8700px;
}


.galleryBtn {
	visibility: hidden;
	position: absolute;
	top: 7900px;
	left: 50%;
	margin-left: -100px;
}

.marquee{
	position: absolute;
	top: 10580px;
	left: 10px;
	z-index: 100;
}



.toTop{
	position: absolute;
	top: 12660px;
	left: 50%;
	margin-left: -100px;
}
.footer{
	position: absolute;
	top: 8350px;
	left: 0px;
}

/* ANIMACIONES */

#pulsodialogues {
	position:absolute;
    left: 210px;
    top: 48px;

}

#pulsodialogues_izq {
left: 18px;
    position: absolute;
    top: 12px;

}

#pulsodialogues_dere {
	right: 18px;
    position: absolute;
    top: 12px;
	

}
.fotoCabezasFondo{
	width: 100%;
}

.txtvervideo {
	font-family: "petrobras_sansregular";
	 position: relative;
    margin-left: -96px;
    top: -20px;}